body {
	background-color: #f0f0f0;
}

.container {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 0;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.card {
	height: 450px;
	background-color: #fff;
	border-radius: 15px;
	/* border: 1px solid black; */
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.card img {
	width: 300px;
	height: 450px;
	border-radius: 15px;
	object-fit: cover;
	filter: grayscale(100%);
	transition: all 0.5s;
	cursor: pointer;
}

.card:hover img {
	filter: grayscale(0);
	scale: 1.05;
}
